.project {
	width: 340px;
	height: 340px;

	text-align: left;
	font-size: smaller;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	border: 1px solid #999;

	.details {
		position: relative;

		// .title {
		// 	display: flex;
		// 	flex-direction: row;
		// 	justify-content: space-between;

		// 	.type {
		// 		font-style: normal;
		// 		text-transform: uppercase;
		// 	}

		// 	.location {
		// 		padding-left: 26px;

		// 		margin-left: -10px;

		// 		background-size: contain;
		// 		background-repeat: no-repeat;
		// 	}
		// }

		.image-container {
			position: relative;

			.title, .footer {
				z-index: 1000;
				position: absolute;
				padding: 5px;

				color: white;
				font-size: small;

				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
	
			.images {
				height: 254px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position-x: center;
				background-position-y: center;
			}
	
			.title {
				top: 0px;
				text-shadow: 1px 1px #333;
			}
			.footer {
				width: 100%;
				bottom: 0px;
				left: -6px;

				.ptype {
					color: black;
					background-color: orange;
				}
				.state {
					text-shadow: 1px 1px orange;
				}
			}
		}

		.data {
			position: relative;
			height: 84px;
			padding: 5px;

			.financials {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				height: -webkit-fill-available;

				.col {
					padding: 8px;
					margin: 2px;
					background-color: lightgray;

					.text {
						text-align:center;
						text-transform: capitalize;
					}
					.amount {
						text-align:center;
						font-weight: bold;
						color: darkgreen;
					}
				}
			}
	
			.features {
				margin-left: 35px;
				margin-top: 8px;

				ul {
					list-style: none;
					list-style-type: none;
				}
					
				ul li:before {
					content: '✓';
					margin-right: 3px;
				}
			}
		}
	}
}
