.project_detailed {
	width: 340px;

	text-align: left;
	font-size: smaller;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	border: 1px solid #999;

	.details {
		position: relative;

		.data {
			position: relative;
			padding: 5px;

			.features {
				height: 75px;
				margin-top: 5px;
				margin-left: 20px;

				ul {
					list-style: none;
					list-style-type: none;
				}
					
				ul li:before {
					content: '✓';
					margin-right: 3px;
				}
			}
		}
	}
}
